* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: #262626;
}

a {
  color: #262626;
}

a:hover {
  text-decoration: none;
}

body,
html {
  font-size: 14px;
}

.content {
  max-width: 1200px;
  margin: 50px auto;
}

nav {
  padding: 16px 0;
}

section {
  padding: 0 16px;
  border-left: 1px solid #262626;
}

#passForm {
  height: 0;
  overflow-y: hidden;
  opacity: 0;
  margin: 0;
  transition: all 0.5s;
}

#passForm.show {
  height: 50px;
  margin-right: -15px;
  margin-left: -15px;
  opacity: 1;
}

.list-head {
  font-weight: bold;
}

.list-head,
.list-item {
  width: 100%;
  display: table;
}

.list-head div,
.list-item div {
  display: table-cell;
  text-align: center;
}

.num {
  width: 50px;
}

.list-item div.subject {
  text-align: left;
  padding: 0 32px;
}

.name {
  width: 100px;
}

.date {
  width: 150px;
}

.view {
  width: 60px;
}

.link-zone {
  height: 40px;
}

.right {
  float: right;
}

#passwd:focus ~ .explain {
  color: #d40000;
}

.explain {
  padding: 8px 0;
  font-weight: bold;
  font-size: 12px;
  transition: color 0.3s;
}

i.material-icons {
  font-size: 15px;
  vertical-align: middle;
}

.paging {
  margin-top: 20px;
}

.paging .page-item.disabled a {
  background: #007bff;
  border: 1px solid #007bff;
  color: #fff;
}

.view span i {
  margin-right: 3px;
}

.bb_subject {
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  border-top: 1px solid #262626;
  border-bottom: 1px solid #262626;
}

.bb_name {
  letter-spacing: -0.5px;
  padding: 5px 0;
}

.bb_contents {
  padding: 12px;
  background: #f5f5f5;
}

.bb_date {
  text-align: right;
  font-size: 13px;
  color: #6f6f6f;
  padding: 5px 0;
}

#passwd_form {
  text-align: center;
}

#passwd_form .pass_title,
#passwd_form .pass_input {
  margin-bottom: 10px;
}

#passwd_form input {
  border: 1px solid #262626;
  border-radius: 3px;
  outline: 0;
  padding: 3px 8px;
}

#passwd_form input:focus {
  border-color: #6f9dff;
}
